---
export interface Props {
  anni: string;
  inCosa: string;
}

const { anni, inCosa } = Astro.props;
---

<div class='flex flex-col'>
  <div>
    <span id='numeri' class='text-red-700'>{anni}</span>
    <span class='plus text-red-700'>+</span>
  </div>
  <p class=''>{inCosa}</p>
</div>

<script>
  import gsap from "gsap";

  interface AnimatedElement extends HTMLElement {
    textContent: string;
  }

  gsap.from("#numeri", {
    innerText: 0,
    duration: 3,
    snap: {
      innerText: 1,
    },
    stagger: {
      onUpdate: function (this: gsap.core.Tween) {
        const target = this.targets()[0] as AnimatedElement;
        target.innerHTML = numberWithCommas(
          Math.ceil(parseFloat(target.textContent || "0"))
        );
      },
    },
  });

  function numberWithCommas(x: number): string {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
  }
</script>
