---
const d: Date = new Date();
let year: number = d.getFullYear();
---

<footer>
  <div class='flex justify-center gap-4 text-xs'>
    <p>
      Copyright {year} © All rights reserved.
    </p>
    <div><a href='#'>Privacy Policy</a></div>
    <div><a href='#'>Cookies Settings</a></div>
  </div>
</footer>
