---
export interface Props {
  imgPath?: string[];
  alt?: string[];
}

const { imgPath = [], alt = [] } = Astro.props;

import SingleSlide from "./SingleSlide.astro";
---

<style>
  .swiper {
    width: 100%;
    height: 50vh;
    border-radius: var(--radius-mara);
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
</style>

<div class='swiper mySwiper'>
  <div class='swiper-wrapper'>
    {
      imgPath.map((img, index) => (
        <SingleSlide imgPath={img} alt={alt[index] ?? `Slide-${index}`} />
      ))
    }
  </div>
  <div class='swiper-button-next'></div>
  <div class='swiper-button-prev'></div>
  <div class='swiper-pagination'></div>
</div>

<script>
  import Swiper from "swiper";
  import { Autoplay, EffectCreative, Navigation } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";
  //   import "swiper/css/pagination";
  import "swiper/css/effect-creative";

  import { delaySlider } from "../../../utils/variables";

  const swiper = new Swiper(".mySwiper", {
    // centeredSlides: true,
    slidesPerView: 1,
    grabCursor: true,
    loop: true,
    modules: [Autoplay, EffectCreative, Navigation],
    autoplay: {
      delay: delaySlider,
      disableOnInteraction: true,
      pauseOnMouseEnter: true,
      reverseDirection: false,
    },
    effect: "creative",
    creativeEffect: {
      prev: {
        shadow: true,
        translate: ["-20%", 0, -1],
      },
      next: {
        translate: ["100%", 0, 0],
      },
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      1024: {
        slidesPerView: 2,
      },
    },
  });
</script>
