---
import Layout from "../../layouts/Layout.astro";
import NumeriContainer from "./components/NumeriContainer.astro";
import ServiziContainer from "./components/ServiziContainer.astro";
import TeamCard from "./components/TeamCard.astro";
---

<Layout metadescription='meta description for SEO, EDIT IT'>
  <section class='marginx flex flex-col items-center'>
    <h1 class='text-center'>L'azienda</h1>
    <p class='text-center max-w-[50ch]'>
      Da oltre vent'anni Mara Arredamenti trasforma le case in tutta Italia,
      creando spazi che riflettono le personalità e gli stili di vita unici dei
      nostri clienti.
    </p>

    <!-- storia -->
    <div class='flex gap-8 mt-16'>
      <div class='flex-1 flex flex-col'>
        <h2>La nostra storia</h2>
        <p>
          Da generazioni ci occupiamo di design. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolor
        </p>
        <div class='flex gap-8 self-baseline'>
          <NumeriContainer anni='25' inCosa='Anni di esperienza ' />
          <NumeriContainer anni='10.000' inCosa='Clienti soddisfatti' />
        </div>
      </div>
      <div class='basis-1/2'>
        <img
          src='/images/team.jpg'
          alt='team'
          class='w-full h-full object-cover rounded-mara'
        />
      </div>
    </div>

    <!-- servizi -->
    <h2 class='mt-16'>I servizi</h2>
    <div>
      <ServiziContainer>
        <div>SVG</div>
        <p>Vendita arredi</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae dolorem
          tempore commodi adipisci distinctio? Incidunt aspernatur deserunt
          natus, asperiores temporibus doloribus repellendus voluptatum, ea iste
          modi inventore odio nostrum minus.
        </p>
      </ServiziContainer>
      <ServiziContainer>
        <div>SVG</div>
        <p>Vendita arredi</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae dolorem
          tempore commodi adipisci distinctio? Incidunt aspernatur deserunt
          natus, asperiores temporibus doloribus repellendus voluptatum, ea iste
          modi inventore odio nostrum minus.
        </p>
      </ServiziContainer>
    </div>

    <!-- Il team -->
    <h2 class='mt-16 mb-4'>Il nostro team</h2>
    <div class='flex flex-col sm:flex-row gap-16 items-center justify-center'>
      <TeamCard
        img='/images/persona-1.jpg'
        nome='Alberto'
        ruolo='Direttore vendite'
        descrizione='Con oltre 15 anni di esperienza nel settore dell’arredamento'
      />
      <TeamCard
        img='/images/persona-1.jpg'
        nome='Alberto'
        ruolo='Direttore vendite'
        descrizione='Con oltre 15 anni di esperienza nel settore dell’arredamento'
      />
    </div>
  </section>
</Layout>
