---
import Layout from "../../layouts/Layout.astro";
import ContattiWrapper from "./components/ContattiWrapper.astro";
import TextWrapper from "./components/TextWrapper.astro";
import SvgWrapper from "./components/SvgWrapper.astro";
---

<style>
  input,
  textarea {
    background-color: white;
    border-radius: 12px;
  }
</style>

<Layout metadescription='meta description for SEO, EDIT IT'>
  <section class='marginx flex flex-col items-center'>
    <h1 class='text-center'>Contatti</h1>
    <p class='text-center max-w-[50ch]'>
      Siete pronti a trasformare la vostra casa? Saremo lieti di ascoltarvi.
      Contattateci oggi stesso per una consulenza personalizzata e scoprite come
      possiamo dare vita alla vostra visione.
    </p>

    <div class='flex'>
      <div>
        <h2>Inviaci un messaggio</h2>
        <form action='#' method='post'>
          <label for='nome'>Nome</label>
          <input type='text' name='nome' id='nome' />
          <label for='cognome'>Cognome</label>
          <input type='text' name='cognome' id='cognome' />
          <label for='messaggio'>messaggio</label>
          <textarea name='messaggio' id='messaggio'></textarea>
        </form>
      </div>
      <div>
        <ContattiWrapper>
          <SvgWrapper>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='size-16'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z'></path>
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z'
              ></path>
            </svg>
          </SvgWrapper>
          <TextWrapper>
            <p>Da.Ma. S.n.c.</p>
            <a
              href='https://maps.google.com/?q=Via+Dante+8,+Mirano+30035+VE'
              target='_blank'>Via Dante 8, Mirano 30035 (VE)</a
            >
            <p>P.IVA: 03508030271</p>
            <a href='tel:+390415701702'>Tel: 0415701702</a>
            <a href='mailto:arredamenti.mara@libero.it'
              >Email: arredamenti.mara@libero.it</a
            >
          </TextWrapper>
        </ContattiWrapper>
        <ContattiWrapper>
          <SvgWrapper>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='size-16'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z'></path>
            </svg>
          </SvgWrapper>
          <TextWrapper>
            <p>Orari</p>
            <p>Dal lunedì al sabato</p>
            <p>09 - 12:30, 15:30 - 19:30</p>
            <p>domenica - chiuso</p>
          </TextWrapper>
        </ContattiWrapper>
        <img src='/images/google-maps.jpg' alt='google maps' />
      </div>
    </div>
  </section>
</Layout>
