---
export interface Props {
  img?: string;
  title: string;
  subtitle: string;
  to: string;
}

const { img, title, subtitle, to } = Astro.props;
---

<a href={to}>
  <div
    class='rounded-mara px-8 pt-[70%] pb-[10%] xl:pt-[60%] bg-size-[170%] bg-center hover:bg-size-[150%] transition-[background-size] ease'
    style={`background-image: 
      linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6) 63%),
      url('/images/${img}');`}
  >
    <p class='font-ibmplex-m'>{title}</p>
    <p>{subtitle}</p>
  </div>
</a>
